@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Giới thiệu chung</h1>
    <hr style="color: darkgrey;">
    <div class="container" style="margin-bottom: 30px;">
        <p style="margin-top: 10px;">
            <i>
                <b>
                    Xưởng Nội Thất Uy Tín Số 1 Việt Nam tự hào là một đơn vị uy tín với nhiều năm kinh nghiệm trong lĩnh vực nội thất. Bằng tất cả sự nhiệt huyết, kinh nghiệm, sáng tạo, đội ngũ Xưởng tự tin mang đến cho khách hàng những sản phẩm nội thất chất lượng tốt, tính thẩm mỹ cao, giúp nâng tầm không gian căn nhà của bạn.
                </b>
            </i>
        </p>
        <div>
            <center><img src="https://art-decor.vn/uploads/images/tranh-sat-nghe-thuat-ts-920-930/decor-trang-tri-noi-that-phong-khach-927.jpg" style="width:1000px;height:500px" /><br />
                <b>Xưởng nội thất số 1 Việt Nam</b>
            </center>
        </div>
        <h3><b>SỨ MỆNH VÀ TẦM NHÌN</b></h3>
        Nhà không chỉ là nơi thể hiện phong cách của gia chủ mà còn ảnh hưởng đến cả tinh thần và cảm xúc. Chính vì thế không gian sống cần phải được đầu tư, đảm bảo không chỉ đẹp mà còn phải đáp ứng được nhu cầu sinh hoạt tối đa cho mọi thành viên. Đó cũng chính là lý do <b>Xưởng Nội Thất Uy Tín Số 1</b> ra đời, với mong muốn trở thành đơn vị uy tín tư vấn, thiết kế, thi công nội thất giúp mỗi không gian sống của gia chủ đều trở nên tuyệt vời hơn.
        <br>
        <br>
        <b>Xưởng Nội Thất Uy Tín Số 1</b> hoạt động với sứ mệnh:<br /><br />
        <li>Là điểm đến được khách hàng ưu ái và tin cậy khi có nhu cầu cần tư vấn, thiết kế, thi công, mua sắm nội thất.</li>
        <li>Mang lại không gian sống ấn tượng, tiện nghi, chạm đến cảm xúc của con người. Bởi những thứ tốt đẹp đều có ảnh hưởng đến tinh thần của chúng ta.</li>
        <br />

        <h3><b>CHUYÊN CUNG CẤP CÁC SẢN PHẨM NỘI THẤT CHẤT LƯỢNG CAO, THẨM MỸ, TINH TẾ</b></h3>
        Là đơn vị chuyên sâu trong lĩnh vực thiết kế và thi công nội thất, Xưởng Nội Thất Uy Tín Số 1 Việt Nam mang đến đa dạng sản phẩm nội thất, đáp ứng mọi nhu cầu của khách hàng.<br />
        <li>Các sản phẩm <b>Nội thất trẻ em</b>, dành trọn tình yêu cho không gian của con trẻ, tạo tiền đề cho sự phát triển về cả thể chất lẫn trí tuệ.</li>
        <li>Các sản phẩm <b>Nội thất phòng khách</b> giúp gia chủ bố trí “tâm điểm” của căn nhà, thể hiện phong cách sống.</li>
        <li>Các sản phẩm <b>Nội thất phòng ngủ</b>, chăm chút cho từng giấc ngủ của bạn.</li>
        <li>Các sản phẩm <b>Nội thất phòng bếp, nội thất phòng ăn,</b> nơi gắn kết mọi thành viên qua những bưa cơm gia đình ấm cúng.</li>
        <li>Các sản phẩm <b>Nội thất phòng thờ,</b> giúp gia chủ bố trí nơi thờ linh thiêng, trang nghiêm.</li>
        <li>Các sản phẩm <b>Nội thất ngoài trời</b> giúp không gian sống trở nên tuyệt vời hơn.</li>
        <li>Các sản phẩm <b>Nội thất thương mại</b> nội thất văn phòng, cơ quan, trường họp, nhà cho thuê…</li>
        <li>Các sản phẩm <b>Các phụ kiện trang trí, decor nội thất</b> Tạo không gian hiện đại, phong cách, cá tính riêng.</li>
        <br />
        <b>Xưởng Nội Thất Uy Tín Số 1 Việt Nam</b> đã cung cấp đến hàng nghìn doanh nghiệp, gia đình các sản phẩm nội thất chất lượng, độ thẩm mỹ cao. Với kinh nghiệm và năng lực sản xuất lâu năm, đơn vị tự tin là đơn vị uy tín mang đến cho khách hàng đa dạng các sản phẩm nội thất bền đẹp, đáp ứng tối đa sự tiện nghi và hiện đại trong không gian. Quý khách hàng có nhu cầu tìm nơi uy tín mua sắm các món đồ nội thất, đừng ngại liên hệ với đội ngũ hỗ trợ của Xưởng để được tư vấn nhé!







    </div>
</div>
